

 <html>
   <title>
    FISHING TOURNAMENT
   </title>
    <body>
        <h1>
                FISHING    TOURNAMENT    
        </h1>
        <br>
       
        <div>
        <a href="{{ url_for('homepage') }}"><h4>Teams</h4></a>
        <a href="{{ url_for('all_catches') }}"><h4>Catches</h4></a>
        
        <a href="{{ url_for('about') }}"><h4>About</h4></a>
        
        <a href="{{ url_for('add_team') }}"><h4>Add new team</h4></a>

        <a href="{{ url_for('add_catch') }}"><h4>Add new catch</h4></a>
    </div>
        <br>
       
      
        
        {% block body %}
        {% endblock body %}
    </body>
</html>

