

 <html>
   <title>
    FISHING TOURNAMENT
   </title>
    <body>
        <h1>
                FISHING    TOURNAMENT    
        </h1>
        <br>
       

        <a href="{{ url_for('homepage') }}"><h3>Home</h3></a>
        <a href="{{ url_for('all_catches') }}"><h3>All Catches</h3></a>
        
        <a href="{{ url_for('about') }}"><h3>About</h3></a>
        
        <a href="{{ url_for('add_team') }}"><h3>Add new team</h3></a>

        <a href="{{ url_for('add_catch') }}"><h3>Add new catch</h3></a>
        
        <br>
       
      
        
        {% block body %}
        {% endblock body %}
    </body>
</html>

