{% extends "layout.html" %}
{% block body %}
<br>
{% for team in teams %}
<p>Team: {{ team.team }} </p>
<p>Fee paid: {{ team.fee }}</p>

<form action="{{ url_for('delete', team=team.team) }}">
    <button type="submit">Delete Team</button>
</form>

<form action="{{ url_for('fee_paid', team=team.team) }}">
    <button type="submit">The team hs paid the entry fee</button>
</form>

<form action="{{ url_for('fee_not_paid', team=team.team) }}">
    <button type="submit">Fee not paid</button>
</form>

<form action="{{ url_for('upade_team', team=team.team) }}">
    <button type="submit">Update Team</button>
</form>


{% endfor %}
{% endblock body %}